<ion-header>
    
    <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button>
            <ion-icon slot="icon-only" color="secondary" name="pin"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Precio Saludable</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content ion-padding>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Encuentra la farmacia más cercana</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <a href="#">Pincha aquí</a>
        </ion-card-content>
      </ion-card>
    
</ion-content>
