<ion-header>
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!--lista 1-->
    <ion-item>
      <ion-label>Paracetamol</ion-label>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="heart" disabled="true" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <!--lista 2-->
    <ion-item>
      <ion-label>Ibuprofeno</ion-label>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="heart" disabled="true" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <!--lista 3-->
    <ion-item>
      <ion-label>Nefercil</ion-label>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="heart" disabled="true" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <!--lista 4-->
    <ion-item>
      <ion-label>Abrilar</ion-label>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="heart" disabled="true" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <!--lista 5-->
    <ion-item>
      <ion-label>Omeprazol</ion-label>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="heart" disabled="true" color="danger"  ></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  

</ion-content>
